$borderColor: #e3e4e5;

:root {
    --themeColor: black;
    --secondaryThemeColor: white;
    --partThemeColor: #F8F9FA;
    --primaryColor: black;
    --textColor: black;
    --conTextColor: black;
    --secondaryColor: white;
    --sellerColor: grey;
    --petaColor: blue;
    --imgBack: #EEEEEE;
}

.theme-two {
    --themeColor: #222831;
    --secondaryThemeColor: #EEEEEE;
    --partThemeColor: #222831;
    --primaryColor: white;
    --textColor: white;
    --conTextColor: #222831;
    --secondaryColor: #222831;
    --sellerColor: grey;
    --petaColor: #76ABAE;
    --imgBack: #EEEEEE;
}

.theme-three {
    --themeColor: #81689D;
    --secondaryThemeColor: #ffebf7;
    --partThemeColor: #81689D;
    --primaryColor: #ffebf7;
    --textColor: #ffebf7;
    --conTextColor: #1F2544;
    --secondaryColor: #222831;
    --sellerColor: grey;
    --petaColor: #76ABAE;
    --imgBack: #EEEEEE;
}

.theme-four {
    --themeColor: #003C43;
    --secondaryThemeColor: #99d5dd;
    --partThemeColor: #003C43;
    --primaryColor: white;
    --textColor: white;
    --conTextColor: #003C43;
    --secondaryColor: #003C43;
    --sellerColor: grey;
    --petaColor: #15a798;
    --imgBack: #EEEEEE;
}

.theme-five {
    --themeColor: #00215E;
    --secondaryThemeColor: #FFC55A;
    --partThemeColor: #00215E;
    --primaryColor: white;
    --textColor: #FFC55A;
    --conTextColor: #2C4E80;
    --secondaryColor: #222831;
    --sellerColor: grey;
    --petaColor: #FC4100;
    --imgBack: #EEEEEE;
}