// @use 'var';
@use 'var' as *;
@use 'mixin' as *;
@use 'header';
@use 'home';
// @use 'footer';
// @use 'storeNotFound';
// @use 'loader';
// @use 'common';
// @use 'user';
// @use 'singleProductPage';
// @use 'cartPage';
// @use 'checkout';

.dark-color {
    color: var(--primaryColor) !important;

    a {
        color: var(--petaColor) !important;
    }
}

.conTextColor {
    color: var(--conTextColor);
}

.custom-align-page {
    background-color: var(--secondaryThemeColor);
}

.bg-transparent {
    background-color: transparent !important;
}

.border-none {
    border: none !important;
}

@media(min-width: 1200px) {
    .cs-container-xl {
        max-width: 1200px !important;
    }

    .cs-xl-width {
        width: 1200px !important;
    }
}

@media(min-width: 992px) {
    .cs-container-lg {
        max-width: 992px !important;
    }

    .cs-lg-width {
        width: 992px !important;
    }
}

@media(min-width: 768px) {
    .cs-container-md {
        max-width: 768px !important;
    }
}

@media(min-width: 576px) {
    .cs-container-sm {
        max-width: 576px;
    }
}

@media (min-width: 576px) {
    .custom-align-page {
        min-height: 100vh;
        display: grid;
        align-content: space-between;
        background-color: var(--secondaryThemeColor);
    }
}

.flex-between-align {
    @include flex-between-align;
}

.flex-between {
    @include flex-between-align;
}

.flex-center-align {
    @include flex-center-align;
}

.semi-border {
    border: 1px solid var(--primaryColor);
    border-radius: .25rem;
}

.semi-border-rad {
    border-radius: .25rem;
}

.half-border-rad {
    border-radius: .5rem;
}

.round-border-rad {
    border-radius: 50%;
}

.border-color {
    border-color: $borderColor;
}

.theme-color {
    color: var(--themeColor) !important;
}

.custom-theme-btn {
    @include themeBtn;
    border-radius: .25rem;
}

.my-pages-content {
    color: var(--themeColor) !important;

    li {
        a {
            color: var(--themeColor) !important;
        }
    }
}

.temp-left-border {
    border-left: 1px solid #12715b;
    padding-left: 1rem;
}

.theme-color-border {
    color: var(--themeColor) !important;
    border: 1px solid var(--themeColor) !important;
}


.p-color {
    color: var(--petaColor);
}

.fs-45 {
    font-size: 45px;
}

.fs-40 {
    font-size: 40px;
}

.fs-35 {
    font-size: 35px;
}

.fs-25 {
    font-size: 25px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-15 {
    font-size: 15px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

.fs-8 {
    font-size: 8px;
}


@media(max-width: 992px) {
    .fs-lg-25 {
        font-size: 25px;
    }

    .fs-lg-20 {
        font-size: 20px;
    }

    .fs-lg-18 {
        font-size: 18px;
    }

    .fs-lg-16 {
        font-size: 16px;
    }

    .fs-lg-14 {
        font-size: 14px;
    }

    .fs-lg-12 {
        font-size: 12px;
    }

    .pf-flex-lg-col-reverse {
        flex-direction: column-reverse;
    }

    .pf-flex-lg-row-reverse {
        flex-direction: row-reverse;
    }
}

@media(max-width: 768px) {

    .fs-md-24 {
        font-size: 24px;
    }

    .fs-md-20 {
        font-size: 20px;
    }

    .fs-md-18 {
        font-size: 18px;
    }

    .fs-md-16 {
        font-size: 16px;
    }

    .fs-md-14 {
        font-size: 14px;
    }

    .fs-md-12 {
        font-size: 12px;
    }

    .fs-md-10 {
        font-size: 10px;
    }

    .pf-flex-md-col-reverse {
        flex-direction: column-reverse;
    }

    .pf-flex-md-row-reverse {
        flex-direction: row-reverse;
    }
}



@media(max-width: 576px) {
    .fs-sm-45 {
        font-size: 45px !important;
    }

    .fs-sm-30 {
        font-size: 30px;
    }

    .fs-sm-25 {
        font-size: 25px;
    }

    .fs-sm-20 {
        font-size: 20px !important;
    }

    .fs-sm-18 {
        font-size: 18px;
    }

    .fs-sm-16 {
        font-size: 16px !important;
    }

    .fs-sm-14 {
        font-size: 14px !important;
    }

    .fs-sm-12 {
        font-size: 12px;
    }

    .fs-sm-10 {
        font-size: 10px;
    }

    .fs-sm-8 {
        font-size: 8px;
    }

    .pf-flex-sm-col-reverse {
        flex-direction: column-reverse;
    }

    .pf-flex-sm-row-reverse {
        flex-direction: row-reverse;
    }
}

.theme-sticky-btn {
    bottom: 20px;
    right: 20px;
    position: fixed;
    z-index: 999;
    height: 50px;
    aspect-ratio: 1/1;
    background-color: var(--foreground);
    color: var(--background);
    border: none;
}

.aspect-1-1 {
    aspect-ratio: 1/1;
}

.aspect-2-1 {
    aspect-ratio: 2/1;
}

.aspect-3-1 {
    aspect-ratio: 3/1;
}

.aspect-4-1 {
    aspect-ratio: 4/1;
}

.aspect-4-3 {
    aspect-ratio: 4/3;
}

.aspect-5-3 {
    aspect-ratio: 5/3;
}

.aspect-1-2 {
    aspect-ratio: 1/2;
}

.aspect-3-4 {
    aspect-ratio: 3/4;
}

.aspect-3-5 {
    aspect-ratio: 3/5;
}

.sm-preview-img {
    height: 100px;
    width: 100px;
}

@media(max-width: 768px) {
    .sm-preview-img {
        height: 75px;
        width: 75px;
    }
}

@media(max-width: 576px) {
    .sm-preview-img {
        height: 60px;
        width: 60px;
    }
}

.text-color {
    color: var(--foreground) !important;
}

.contra-color {
    color: var(--contra) !important;
}

.bg-color {
    background-color: var(--background) !important;
}

.custom-big-preview-hover {
    overflow: hidden;

    span {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: var(--textColor);
        // -webkit-text-stroke: 0.5px $secondaryColor;
        font-weight: 600;
        text-align: center;
        transition: .3s;
        z-index: 4;
        background-color: white;
        border-radius: .5rem;
        padding: .5rem;
        min-width: 60%;
        outline: 3px solid var(--textColor);
        text-shadow: 0 0 1px black;
    }

    a {
        z-index: 5;
    }

    &:hover span {
        transform: translate(-50%, -50%) scale(1);
    }
}



.pointer {
    cursor: pointer;
}

.preview-image {
    width: 100%;
    aspect-ratio: 1/1;

    div,
    a {
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// ------------
.canvas-bg-image {
    aspect-ratio: 1/1;

    img {
        object-fit: contain;
    }
}

.preview-img-overlay {
    z-index: 1;
}

.preview-img-background {
    z-index: 0;
}


.ui-checkbox {
    --primary-color: #12715B;
    --secondary-color: #fff;
    --primary-hover-color: #39aa90;
    /* checkbox */
    --checkbox-diameter: 30px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.5;
}

@media (max-width: 576px) {
    .check-holder {
        .ui-checkbox {
            --checkbox-diameter: 20px;
        }
    }
}

/* checkbox settings 👇 */
.check-holder {

    .ui-checkbox,
    .ui-checkbox *,
    .ui-checkbox *::before,
    .ui-checkbox *::after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .ui-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: var(--checkbox-diameter);
        height: var(--checkbox-diameter);
        border-radius: var(--checkbox-border-radius);
        background: var(--secondary-color);
        border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        cursor: pointer;
        position: relative;
    }

    .ui-checkbox::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
        box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
        border-radius: inherit;
        opacity: 0;
        -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
        -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
        transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    }

    .ui-checkbox::before {
        top: 40%;
        left: 50%;
        content: "";
        position: absolute;
        width: 4px;
        height: 7px;
        border-right: 2px solid var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
        -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
        -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
        transform: translate(-50%, -50%) rotate(45deg) scale(0);
        opacity: 0;
        -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
        -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
        transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    }

    /* actions */

    .ui-checkbox:hover {
        border-color: var(--primary-color);
    }

    .ui-checkbox:checked {
        background: var(--primary-color);
        border-color: transparent;
    }

    .ui-checkbox:checked::before {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
        -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
        transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
        -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    }

    .ui-checkbox:active:not(:checked)::after {
        -webkit-transition: none;
        -o-transition: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        transition: none;
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .product-top-corner-check {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .product-top-corner-check,
    .check-holder {
        .ui-checkbox {
            --checkbox-diameter: 25px;
            --checkbox-border-radius: 5px;
            --checkmark-size: 1.7;
        }
    }
}

.first-capitalize::first-letter,
.text-first-capitalize::first-letter {
    text-transform: capitalize;
}